<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      
      <li class="nav-item"><a routerLink="" class="nav-link" aria-current="page">Bienvenido</a></li>
      <li class="nav-item"><a routerLink="login" class="nav-link">Login</a></li>
      <li class="nav-item"><a routerLink="error" class="nav-link">Error</a></li>
    </ul>
  </header>
</div>
<div>
  <h2>Alumno: Pantano Nicolas</h2>
</div>
<div>
<h4>Edad uno</h4>
<input type="text" id="edadUno" placeholder="Edad uno" [(ngModel)]="edadUno">
<h4>Edad Dos</h4>
<input type="text" id="edadDos" placeholder="Edad dos" [(ngModel)]="edadDos"><br>
<button (click)="calcular()">Calcular</button>
<button (click)="limpiar()">Limpiar</button>
<h4>Promedio</h4>
<input type="text" id="promedio" [(ngModel)]="promedio" readonly>
</div>

<div>
  <router-outlet></router-outlet>
</div>